<!DOCTYPE html>
<html>

<head>
    <title>Willoz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/339055163d.js" crossorigin="anonymous"></script>
</head>


<body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav ms-5">
                    <li class="nav-item pe-5">
                        <a href="/buy" class="nav-link">Buy</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a href="/rent" class="nav-link">Rent</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sell" class="nav-link">Sell</a>
                    </li>
                </ul>
            </div>
            <div class="me-auto order-0">
                <a class="navbar-brand top-0" href="/">
                    <img src="/static/image/Willow.png" alt="Logo" width="120px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    {% if email %}
                    <li class="nav-item me-3">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item me-3">
                        <span class="nav-link">Email:
                            {{ email }}
                        </span>
                    </li>

                    <li class="nav-item me-3">
                        <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    </li>

                    {% else %}
                    <button type="button" class="btn btn-primary me-3" data-toggle="modal" data-target="#loginModal">
                        Log in
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                        aria-labelledby="loginModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title" id="loginModalTitle">Welcome to Willoz</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- <form class="px-2" action="{{ url_for('login') }}" method="POST">
                                        <div class="form-group">
                                            <label for="inputEmail" class="font-weight-bold">Email</label>
                                            <input type="email" class="form-control" id="inputEmail"
                                                aria-describedby="emailHelp" placeholder="Enter email"
                                                name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="font-weight-bold">Password</label>
                                            <input type="password" class="form-control" id="inputPassword"
                                                placeholder="Password" name="password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block"
                                            style="margin-top: 5%; width: 100%;">Log In</button>
                                    </form> -->

                                    <div class="card mx-auto border-0" style="width: 24rem;">
                                        <div class="card-header border-bottom-0 bg-transparent">
                                            </button>

                                            <ul class="nav nav-tabs" id="myTab">
                                                <li class="nav-item">
                                                    <a href="#login-pane" class="nav-link active"
                                                        data-bs-toggle="tab">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#register-pane" class="nav-link"
                                                        data-bs-toggle="tab">Register</a>
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="card-body pb-4">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="login-pane">
                                                    <form class="px-2" action="{{ url_for('login') }}" method="POST">
                                                        <div class="form-group">
                                                            <label for="inputEmail"
                                                                class="font-weight-bold">Email</label>
                                                            <input required type="email" class="form-control"
                                                                id="inputEmail" aria-describedby="emailHelp"
                                                                placeholder="Enter email" name="email">
                                                        </div>
                                                        <div class="form-group t">
                                                            <label for="inputPassword"
                                                                class="font-weight-bold">Password</label>
                                                            <input required type="password" class="form-control"
                                                                id="inputPassword" placeholder="Password"
                                                                name="password">
                                                        </div>
                                                        <span id="loginError" name="loginError" class="loginError"
                                                            style="color: red; font-size: 16px; font-weight: bold;"></span>

                                                        <span id="loginSuccess" name="loginSuccess" class="loginSuccess"
                                                            style="color: green; font-size: 16px; font-weight: bold;"></span>

                                                        <button type="submit" class="btn btn-primary btn-block"
                                                            style="margin-top: 5%; width: 100%;">Sign In</button>
                                                    </form>
                                                </div>
                                                <div class="tab-pane fade" id="register-pane">
                                                    <form class="px-2" id="registerForm"
                                                        action="{{ url_for('register') }}" method="POST">
                                                        <div class="form-group">
                                                            <label for="inputEmail"
                                                                class="font-weight-bold">Email</label>
                                                            <input required type="email" class="form-control"
                                                                id="inputEmail" aria-describedby="emailHelp"
                                                                placeholder="Enter email" name="email">
                                                        </div>
                                                        <div class="form-group t">
                                                            <label for="inputPassword"
                                                                class="font-weight-bold">Password</label>
                                                            <input required type="password" class="form-control"
                                                                id="inputPassword" placeholder="Password"
                                                                name="password">
                                                            <label for="inputPassword" class="font-weight-bold">Confirm
                                                                Password</label>

                                                            <input required type="password" class="form-control"
                                                                id="confirm_password" placeholder="Confirm Password"
                                                                name="confirm_password">
                                                        </div>
                                                        <ul>At least 8 characters</ul>
                                                        <ul>
                                                            Mix of letters and numbers</ul>
                                                        <ul>
                                                            At least 1 special character</ul>
                                                        <ul>
                                                            At least 1 lowercase letter and 1
                                                            uppercase letter</ul>

                                                        <span id="registerError" name="registerError"
                                                            class="registerError"
                                                            style="color: red; font-size: 16px; font-weight: bold;"></span>

                                                        <span id="registerSuccess" name="registerSuccess"
                                                            class="registerSuccess"
                                                            style="color: green; font-size: 16px; font-weight: bold;"></span>

                                                        <button id="registerButton" type="submit"
                                                            class="btn btn-primary btn-block"
                                                            style="margin-top: 5%; width: 100%;">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block main %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>