{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<script>
  window.onload = function () {
    const search = document.querySelector(".search_input");
    const searchIcon = document.querySelector(".search_icon");

    searchIcon.addEventListener("click", () => {
      window.location.href = `/search?q=${search.value}`;
    });

    search.addEventListener("keyup", (e) => {
      if (e.keyCode === 13) {
        window.location.href = `/search?q=${search.value}`;
      }
    });
  };
</script>


<script defer>
  window.onload = function () {
    // check if there is param in the url and open modal accordingly 
    // display error message in the param and be sure to sanitize it

    const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams);
    let modal = urlParams.get('modal');
    let error = urlParams.get('error');
    let success = urlParams.get('success');

    if (modal === 'login') {
      $('#loginModal').modal('show');
    } else if (modal === 'register') {
      $('#loginModal').modal('show');
      document.querySelector("[href='#register-pane']").click();
    }

    if (error) {
      // const registerError = document.querySelector("#registerError");
      error = error.replace(/</g, "&lt;").replace(/>/g, "&gt;"); // sanitize idk if this is enough
      // registerError.innerHTML = error;

      if (modal === 'login') {
        $('#loginError').text(error);
      } else if (modal === 'register') {
        $('#registerError').text(error);
      }
    }

    if (success) {
      success = success.replace(/</g, "&lt;").replace(/>/g, "&gt;"); 
      // registerSuccess.innerHTML = success;

      if (modal === 'login') {
        $('#loginSuccess').text(success);
      } else if (modal === 'register') {
        $('#registerSuccess').text(success);
      }
    }


    // function handleRegister() {
    //     const registerForm = document.querySelector("#registerForm");
    //     const registerButton = document.querySelector("#registerButton");
    //     const registerError = document.querySelector("#registerError");
    //     const registerSuccess = document.querySelector("#registerSuccess");

    //     registerButton.addEventListener("click", () => {
    //         const formData = new FormData(registerForm);
    //         const registerData = Object.fromEntries(formData.entries());

    //         fetch("/register", {
    //             method: "POST",
    //             body: JSON.stringify(registerData),
    //             headers: {
    //                 "Content-Type": "application/json",
    //             },
    //         })
    //             .then((res) => res.json())
    //             .then((data) => {
    //                 if (data.error) {
    //                     registerError.innerHTML = data.error;
    //                     registerSuccess.innerHTML = "";
    //                 } else {
    //                     registerSuccess.innerHTML = data.success;
    //                     registerError.innerHTML = "";
    //                 }
    //             });
    //     });
    // }

    // handleRegister()
  };
</script>

<script type='text/javascript'>
  function loadMapScenario() {
    Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', {
      callback: onLoad,
      errorCallback: onError
    });
    function onLoad() {
      var options = { maxResults: 5 };
      var manager = new Microsoft.Maps.AutosuggestManager(options);
      manager.attachAutosuggest('#search_input', '#searchbar', selectedSuggestion);
    }
    function onError(message) {
      console.log(message);
    }

    // recursively the object and encode the values to be used in the url
    function encodeGetParams(obj) {
      const params = [];
      Object.keys(obj).forEach((key) => {
        if (typeof obj[key] === 'object') {
          params.push(encodeGetParams(obj[key]));
        } else {
          params.push(`${key}=${encodeURIComponent(obj[key])}`);
        }
      });
      return params.join('&');
    }


    function selectedSuggestion(suggestionResult) {
      console.log(suggestionResult);
      console.log(encodeGetParams(suggestionResult))
      window.location.href = `/search?${encodeGetParams(suggestionResult)}`;
    }


  }
</script>

<style>
  .MicrosoftMap .as_container_search {
    position: absolute;
    z-index: 2000;
    width: 30vw;
    /* left: 50%; */
    text-align: center;
    background-color: #fff;
  }
</style>

<script type='text/javascript'
  src='https://www.bing.com/api/maps/mapcontrol?key=ApoGTzsEZsZMP51WQe65HrnjXH7j1SjtRzbCW25F65Q25_5Xlb_tdZodeYlELesQ&callback=loadMapScenario'
  async defer></script>

<body>
  <header>

    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
          background-image: url('https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/ZG_ZPA_08_21_Americana_ExtFront_1081_1440_desktopWebp-2.webp');
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover; background-position: 60% bottom;
        ">
      <div>
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Find it. Tour it. Own it. </h1>
            <div id="searchbar" class="searchbar">
              <input id="search_input" class="search_input" type="text"
                placeholder="Enter an address, neighborhood, city, or ZIP code">
              <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

  <h3 id="trending" style="padding-left: 50px; padding-top: 40px;"> Trending Homes in New York </h3>

  <div class="listings" style="display:flex; align-items: center; justify-content: center;">

    <div id="carouselExampleControls" class="" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="card" style="width: 20rem; display: inline-block;margin:1rem;">
            <img class="card-img-top" src="https://photos.zillowstatic.com/fp/44199207d651a9413e0e3396dc2b19a6-p_e.jpg"
              alt="Card image cap">
            <span class="badge rounded-pill bg-secondary description-badge">A bussin building for real</span>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 20rem; display: inline-block;margin:1rem;">
            <img class="card-img-top" src="https://photos.zillowstatic.com/fp/da18fd03f56398aab0aa5a0eb31881e3-p_e.jpg"
              alt="Card image cap">
            <span class="badge rounded-pill bg-secondary description-badge">yo i'm mad cheap buy me 🥺🥺</span>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 20rem; display: inline-block;margin:1rem;">
            <img class="card-img-top" src="https://photos.zillowstatic.com/fp/d3e950790300f7404f3503b89d09b9cb-p_e.jpg"
              alt="Card image cap">
            <span class="badge rounded-pill bg-secondary description-badge">buy me if you tryna be vintage or
              something</span>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 20rem; display: inline-block;margin:1rem;">
            <img class="card-img-top" src="https://photos.zillowstatic.com/fp/1a3124fb691f759535672912bdfb7839-p_e.jpg"
              alt="Card image cap">
            <span class="badge rounded-pill bg-secondary description-badge">Super fire apartment you should buy
              me</span>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


        </div>

      </div>
      <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>

  </div>
</body>

{% endblock %}