{% extends 'base.html' %} {% block main %}



<script src="static/js/main.js"></script>

<body>
    <!-- <script src="static/js/index.js"></script> 
    <button id="click">
        Click me
    </button> -->

    <!-- <div id="main" style="padding-left: 10px;">
        Trending Homes in New York
    </div> -->
    
    <div id="banner"></div>

    <div class="listings" style="display:flex; align-items: center; justify-content: center;">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
          <div class="carousel-item">

            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
          <div class="carousel-item">
            
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      
            <div class="card" style="width: 18rem; display: inline-block;margin:1rem;">
              <img class="card-img-top" src="../static/image/House.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
</body>

{% endblock %}