{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="/static/css/sell.css" />

<body>
    <header class="pb-4">

        <!-- Background image -->
        <div class="p-5 text-center bg-image" style="
              background-image: url('https://blog-media.dev.zg-core.com/bedrock/app/uploads/sites/11/2022/10/Hero_Sell_Large-1-1440x514.png');
              height: 400px;
              background-repeat: no-repeat;
              background-size: cover; background-position: 60% bottom;
            ">
            <div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-dark">
                        <h1 class="mb-3 fw-bold">Sell your home with confidence</h1>
                        <h5>Zillow is making it simpler to sell your home and move forward.</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>

    <div class="bg-primary bg-opacity-10 container-flex pt-5">
        <div class="d-flex justify-content-center pb-4">
            <div class="d-flex" style="padding-right: 5%; padding-left: 5%;max-width: 1200px;">
                <div class="w-60 text-dark">
                    <h2 class="fw-bold">Sell with a partner agent or get a cash offer</h2>
                    <h6 class=pt-3>
                        Willow helps you sell your home, your way. Easily explore your selling options below 
                        and get personalized market value estimates — we can even help you choose the best 
                        option when you’re ready.
                    </h6>
                    <h6 class="pt-3 fst-italic">
                        This experience is currently available in 
                        <b>New York, New York, New York, New York</b> 
                        and <b>New York</b> markets. We'll be expanding to more markets soon.
                    </h6> 
                    <h5 class="pt-3 pb-3 fw-bold">
                        Compare personalized options, no commitment required
                    </h5>  
                    
                    <div class="container">
                        <div class="row">
                        <div class="col">
                            <div class="searchbar">
                            <div class="input-group">
                                <input class="search_input form-control" type="text" placeholder="Enter your address">
                                <button class="btn btn-primary search_icon" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="w-40" style="padding-left: 5%">
                    <img src="https://delivery.digitalassets.zillowgroup.com/api/public/content/2x_Miso_Module_Vector_CMS_Full.png?v=69e15efc" 
                        class="img-fluid" alt="Fluid Image">
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <div class="d-flex pt-4 pb-5" style="max-width: 1200px;">
                <div class="w-50 text-dark" style="padding-left: 5%;padding-right: 5%;">
                    <h5 class="pb-3 fw-bold">
                        Sell with a Zillow partner agent
                    </h5>
                    <h6>
                        List your home with a Zillow partner agent to get local expertise and potentially maximize your sales price.
                    </h6>
                </div>
                <div class="w-50 text-dark" style="padding-right: 5%">
                    <h5 class="pb-3 fw-bold">
                        Sell directly to Opendoor
                    </h5>
                    <h6>
                        Get an all-cash offer from our trusted partner, Opendoor, to sell your home faster and avoid the hassle of showings.*
                    </h6>
                    <h12 class="fst-italic">
                        *Offer eligibility and purchase price vary.
                    </h12>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}