{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="/static/css/sell.css" />

<body>
    <header class="pb-4">

        <!-- Background image -->
        <div class="p-5 text-center bg-image" style="
              background-image: url('https://blog-media.dev.zg-core.com/bedrock/app/uploads/sites/11/2022/10/Hero_Sell_Large-1-1440x514.png');
              height: 400px;
              background-repeat: no-repeat;
              background-size: cover; background-position: 60% bottom;
            ">
            <div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-dark">
                        <h1 class="mb-3 fw-bold">Sell your home with confidence</h1>
                        <h5>Zillow is making it simpler to sell your home and move forward.</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>

    <div class="bg-primary bg-opacity-10 d-flex p-2">
        <div class="row">
            <div class="col-10 text-dark">
                <h2 class="fw-bold">Sell with a partner agent or get a cash offer hihihihihih</h2>
            </div>
            <div class="col">
                picture
            </div>
        </div>
    </div>
</body>

{% endblock %}